################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VideoAndBook/DesignTimeBuild
/.vs/VideoAndBook/v17
/BusinessLayer/bin/Debug/net6.0
/BusinessLayer/obj
/VideoAndBook/bin/Debug/net6.0
/VideoAndBook/obj
